body {
    font-family: Arial;
    background-color: #D9DCD6;
    margin: 0;
    }

.navbar {
    background-color: #16425B;
    padding: 15px;
    text-align: center;
    }

.background {
    background-color: white;
    margin: 20px;
    padding:20px;
    border-radius: 10px;}

.header {
    background-color: #3A7CA5;
    color: white;
    padding: 40px;
    text-align: center;
    }

.box-blue {
    background-color: #81C3D7;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    }
.box-white {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    }
.center-image {
    text-align: center;
    padding: 20px;
    }